@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="Browse">
    <h2>Welcome to Shelf of Tales's Bookstore</h2>
    <p>Discover a wide range of books for every reader.</p>
    <a asp-page="/Shelf" class="btn">Browse Books</a>
   
</section>

<section class="book-list">
    <div class="book">
        <img src="~/image1/hpphilospjerstone.jpg" />
        
        <h3>Harry Potter and the Philosopher's Stone</h3>
        <p>J. K. Rowling</p>
        <p class="price">$15</p>
        <a href="/Books/Details?id=1" class="btn">Detail</a>
    </div>
    <div class="book">
        <img src="~/image1/mobydick.jpg" />
        
        <h3>Moby-Dick</h3>
        <p>Herman Melville</p>
        <p class="price">$15</p>
        <a href="/Books/Details?id=2" class="btn">Detail</a>
    </div>
    <div class="book">
        <img src="~/image1/thinkpython.jpg" />
        

        <h3>Think Python: How to Think Like a Computer Scientist</h3>
        <p>Allen Downey</p>
        <p class="price">$40</p>
        <a href="/Books/Details?id=3" class="btn">Detail</a>
    </div>
    
    
    <!-- Repeat the above book divs for each book -- >
</section>

