@page
@model Shelf_of_Tales_bookstore.Pages.ShelfModel
@{
    ViewData["Title"] = "Shelf";
}
<section class="book-list">
    <div class="book">

        <img src="~/image1/hpphilospjerstone.jpg" />
        <h3>Harry Potter and the Philosopher's Stone</h3>
        <p>J. K. Rowling</p>
        <p class="price">$15</p>
        <a href="/Books/Details?id=1" class="btn">Detail</a>
    </div>
    <div class="book">

        <img src="~/image1/mobydick.jpg" />
        <h3>Moby-Dick</h3>
        <p>Herman Melville</p>
        <p class="price">$15</p>
        <a href="/Books/Details?id=2" class="btn">Detail</a>
    </div>
    <div class="book">
        <img src="~/image1/thinkpython.jpg" />
        
        <h3>Think Python: How to Think Like a Computer Scientist</h3>
        <p>Allen Downey</p>
        <p class="price">$40</p>
        <a href="/Books/Details?id=3" class="btn">Detail</a>
    </div>
    <div class="book">

        <img src="~/image1/phoenixflame.jpg" />
        <h3>Phoenix Flame</h3>
        <p>Sara Holland</p>
        <p class="price">$20</p>
        <a href="/Books/Details?id=5" class="btn">Detail</a>
    </div>
    <div class="book">

        <img src="~/image1/olevelbio.jpg" />
        <h3>Cambridge O Level Biology Revision Guide (Cambridge International Examinations)</h3>
        <p>Ian J. Burton</p>
        <p class="price">$30</p>
        <a href="/Books/Details?id=4" class="btn">Detail</a>
    </div>
    <div class="book">

        <img src="~/image1/thegreatgatsby.jpg" />
        <h3>The Great Gatsby</h3>
        <p>F. Scott Fitzgerald</p>
        <p class="price">$15</p>
        <a href="/Books/Details?id=6" class="btn">Detail</a>
    </div>
