@page
@model Shelf_of_Tales_bookstore.Pages.ShelfModel
@{
    ViewData["Title"] = "Shelf";
}
<section class="book-list">
    <div class="book">
        <img src="book1.jpg" alt="Book 1">
        <h3>Harry Potter and the Philosopher's Stone</h3>
        <p>J. K. Rowling</p>
        <p class="price">$15</p>
        <a href="#" class="btn">Detail</a>
    </div>
    <div class="book">
        <img src="book2.jpg" alt="Book 2">
        <h3>Moby-Dick</h3>
        <p>Herman Melville</p>
        <p class="price">$15</p>
        <a href="#" class="btn">Detail</a>
    </div>
    <div class="book">
        <img src="book2.jpg" alt="Book 2">
        <h3>Think Python: How to Think Like a Computer Scientist</h3>
        <p>Allen Downey</p>
        <p class="price">$40</p>
        <a href="#" class="btn">Detail</a>
    </div>
    <div class="book">
        <img src="book2.jpg" alt="Book 2">
        <h3>Phoenix Flame</h3>
        <p>Sara Holland</p>
        <p class="price">$20</p>
        <a href="#" class="btn">Detail</a>
    </div>
    <div class="book">
        <img src="book2.jpg" alt="Book 2">
        <h3>Cambridge O Level Biology Revision Guide (Cambridge International Examinations)</h3>
        <p>Ian J. Burton</p>
        <p class="price">$30</p>
        <a href="#" class="btn">Detail</a>
    </div>
    <div class="book">
        <img src="book2.jpg" alt="Book 2">
        <h3>The Great Gatsby</h3>
        <p>F. Scott Fitzgerald</p>
        <p class="price">$0</p>
        <a href="#" class="btn">Detail</a>
    </div>
